{# text text_sorting_title = "Sort by" #}
{# text text_sorting_title__Danish = "Sorter efter" #}
{# text text_sorting_title__Swedish = "Sortera efter" #}
{# text text_sorting_title__Dutch = "Sorteer op" #}
{# text text_sorting_title__Norwegian = "Sortere etter" #}
{# text text_sorting_title__Finnish = "Järjestä" #}
{# text text_sorting_title__German = "Sortieren nach" #}
{# text text_sorting_title__French = "Trier par" #}

{# text text_go_directly_to = "Go to: " #}
{# text text_go_directly_to__Danish = "Gå til: " #}
{# text text_go_directly_to__Swedish = "Gå till: " #}
{# text text_go_directly_to__Dutch = "Ga naar: " #}
{# text text_go_directly_to__Norwegian = "Gå til: " #}
{# text text_go_directly_to__Finnish = "Mene: " #}
{# text text_go_directly_to__German = "Gehe zu: " #}
{# text text_go_directly_to__French = "Aller à: " #}

{# text text_search_products_title = "search results" #}
{# text text_search_products_title__Danish = "søgeresultater" #}
{# text text_search_products_title__Swedish = "sökresultat" #}
{# text text_search_products_title__Dutch = "zoekresultaten" #}
{# text text_search_products_title__Norwegian = "søkeresultater" #}
{# text text_search_products_title__Finnish = "hakutulokset" #}
{# text text_search_products_title__German = "suchergebnisse" #}
{# text text_search_products_title__French = "résultats de recherche" #}

{# text text_products_title = "Products" #}
{# text text_products_title__Danish = "Produkter" #}
{# text text_products_title__Swedish = "Produkter" #}
{# text text_products_title__Dutch = "Producten" #}
{# text text_products_title__Norwegian = "Produkter" #}
{# text text_products_title__Finnish = "Tuotteet" #}
{# text text_products_title__German = "Produkte" #}
{# text text_products_title__French = "Des produits" #}

{# text text_filters_selected_clear_button = "Clear all filters" #}
{# text text_filters_selected_clear_button__Danish = "Fjern alle filtre" #}
{# text text_filters_selected_clear_button__Swedish = "Rensa alla filter" #}
{# text text_filters_selected_clear_button__Dutch = "Filters wissen" #}
{# text text_filters_selected_clear_button__Norwegian = "Fjern alle filter" #}
{# text text_filters_selected_clear_button__Finnish = "Tyhjennä kaikki suodattimet" #}
{# text text_filters_selected_clear_button__German = "Alle Filter löschen" #}
{# text text_filters_selected_clear_button__French = "Effacer tous les filtres" #}

{# text text_products = "products." #}
{# text text_products__Danish = "produkter" #}
{# text text_products__Swedish = "produkter" #}
{# text text_products__Dutch = "producten" #}
{# text text_products__Norwegian = "produkter" #}
{# text text_products__Finnish = "tuotteet" #}
{# text text_products__German = "produkte" #}
{# text text_products__French = "des produits" #}

{# text text_category_no_content_before = "No" #}
{# text text_category_no_content_before__Danish = "Ingen" #}
{# text text_category_no_content_before__Swedish = "Inga" #}
{# text text_category_no_content_before__Dutch = "Geen" #}
{# text text_category_no_content_before__Norwegian = "Ingen" #}
{# text text_category_no_content_before__Finnish = "" #}
{# text text_category_no_content_before__German = "Keine" #}
{# text text_category_no_content_before__French = "Non" #}

{# text text_category_no_content_after = "were found." #}
{# text text_category_no_content_after__Danish = "blev fundet" #}
{# text text_category_no_content_after__Swedish = "hittades" #}
{# text text_category_no_content_after__Dutch = "gevonden" #}
{# text text_category_no_content_after__Norwegian = "ble funnet" #}
{# text text_category_no_content_after__Finnish = "ei löytynyt" #}
{# text text_category_no_content_after__German = "wurde gefunden" #}
{# text text_category_no_content_after__French = "a été trouvé" #}

{# boolean product_sale_label = true #}
{# color button_icon_colors = "#232324" #}
{# boolean show_product_description = false #}

{# text result_subtitle__Danish = "Søgningen <strong> \"$query$\"</strong> gav <strong>$totalResults$</strong> $contentType$" #}
{# text result_subtitle = "The search <strong> \"$query$\"</strong> matches <strong>$totalResults$</strong> $contentType$" #}
{# text result_subtitle__Swedish = "Söket <strong> \"$query$\"</strong> matchar <strong>$totalResults$</strong> $contentType$" #}
{# text result_subtitle__Dutch = "De zoekopdracht <strong> \"$query$\"</strong> heeft <strong>$totalResults$</strong> $contentType$ opgeleverd" #}
{# text result_subtitle__Norwegian = "Søket <strong> \"$query$\"</strong> matcher <strong>$totalResults$</strong> $contentType$" #}
{# text result_subtitle__Finnish = "Etsintä <strong> \"$query$\"</strong> ottelut <strong>$totalResults$</strong> $contentType$" #}
{# text result_subtitle__German = "Die Suche <strong> \"$query$\"</strong> streichhölzer <strong>$totalResults$</strong> $contentType$" #}
{# text result_subtitle__French = "La recherche <strong> \"$query$\"</strong> allumettes <strong>$totalResults$</strong> $contentType$" #}

{# text text_synonym_only_suggested = "We didn't find exactly what you were looking for, but here are some products you might find interesting:" #}
{# text text_synonym_mixed = "We have expanded the search with more products that you might find interesting." #}

{# text label_filters = "Filters" #}
{# text label_filters__Danish = "Filtre" #}
{# text label_filters__Swedish = "Filter" #}
{# text label_filters__Dutch = "Filters" #}
{# text label_filters__Norwegian = "Filtre" #}
{# text label_filters__Finnish = "Suodattimet" #}
{# text label_filters__German = "Filter" #}
{# text label_filters__French = "Filtres" #}

{# text label_clear_filter = "Clear filter" #}
{# text label_clear_filter__Danish = "Ryd filter" #}
{# text label_clear_filter__Swedish = "Rensa filter" #}
{# text label_clear_filter__Dutch = "Wis filter" #}
{# text label_clear_filter__Norwegian = "Tøm filter" #}
{# text label_clear_filter__Finnish = "Tyhjennä suodattimet" #}
{# text label_clear_filter__German = "Filter zurücksetzen" #}
{# text label_clear_filter__French = "Effacer le filtre" #}

{# text label_skip_to_products = "Skip to products" #}
{# text label_skip_to_products__Danish = "Gå til produkter" #}
{# text label_skip_to_products__Swedish = "Hoppa till produkter" #}
{# text label_skip_to_products__Dutch = "Ga door naar producten" #}
{# text label_skip_to_products__Norwegian = "Hopp til produkter" #}
{# text label_skip_to_products__Finnish = "Siirry tuotteisiin" #}
{# text label_skip_to_products__German = "Springe zu Produkten" #}
{# text label_skip_to_products__French = "Aller aux produits" #}

{# text label_skip_to_input = "Skip to search input" #}
{# text label_skip_to_input__Danish = "Gå til søgefeltet" #}
{# text label_skip_to_input__Swedish = "Hoppa till sökfältet" #}
{# text label_skip_to_input__Dutch = "Ga door naar zoekveld" #}
{# text label_skip_to_input__Norwegian = "Hopp til søkefeltet" #}
{# text label_skip_to_input__Finnish = "Siirry hakukenttään" #}
{# text label_skip_to_input__German = "Springe zum Suchfeld" #}
{# text label_skip_to_input__French = "Aller au champ de recherche" #}

{% capture captured_filters %}
{% if filters.size > 0 or sorting.options.size > 0 %}
{% assign filters_selected = false %}
<div class="hr-filters">
	<ul class="aw-full-search-results__filter-wrapper" role="list" aria-label="{{ label_filters }}">
		{% if filters.size > 0 %}
		{% assign filters = filters | items %}
		{% for filter in filters %}
		<li class="aw-filter__single-wrapper aw-filter__{{ filter[0] }}-wrapper" data-filter="{{ filter[0] }}">
			<button class="aw-filter__heading" aria-label="{{ filter[1].title }}">
				{{ filter[1].title }}
				{% if filter[1].selectedOptionCount > 0 %}
				<span class='hr-selected-filter-count'>{{ filter[1].selectedOptionCount }}</span>
				{% elsif filter[1].isActive %}
				<span class='hr-selected-filter-count'>1</span>
				{% endif %}
			</button>
			<div class="aw-filter-dropdown-content" style="display: none;">
				{{ filter[1] }}
			</div>
		</li>
		{% endfor %}
		{% endif %}
		{% if sorting.options.size > 0 %}
		<li class="aw-filter__single-wrapper aw-filter__sorting-wrapper" data-filter="sorting">
			<button class="aw-filter__heading" aria-label="{{ text_sorting_title }}">
				{{ text_sorting_title }}
				<span class='hr-sorting-selected'>
					{% for o in sorting.options %}
					{% if o.selected %}
					{% assign filters_selected = true %}
					'{{ o.title }}'
					{% endif %}
					{% endfor %}
				</span>
			</button>
			<div class="aw-filter-dropdown-content" style="display: none;">
				{{ sorting.asTagList }}
			</div>
		</li>
		{% endif %}
	</ul>
</div>
{% endif %}

<div class="hr-filters-selected">
	{% for filter in filters %}
	{% for option in filter[1].options %}
	{% if option.selected %}
	<span class="hr-filter-selected-tag" data-query="{{ option.query }}" data-filter="{{ filter[0] }}">
		{{ filter[1].title }}: {{ option.title }}
		<button aria-label="{{ label_clear_filter }} {{ filter[1].title }}: {{ option.title }}" class="hr-filter-selected-tag-clear"></button>
	</span>
	{% endif %}
	{% endfor %}
	{% if filter[1].isActive %}
	{% assign filters_selected = true %}
	{% endif %}
	{% if filter[1].isRange and filter[1].isActive %}
	<div class="hr-filter-selected-tag" data-query="{{ filter[0] }}:" data-filter="{{ filter[0] }}">
		{{ filter[1].title }}: {{ filter[1].selectedMin | floor }}
		- {{ filter[1].selectedMax | ceil }}
		<button aria-label="{{ label_clear_filter }} {{ filter[1].title }}" class="hr-filter-selected-tag-clear"></button>
	</div>
	{% endif %}
	{% endfor %}
	{% if filters_selected %}
	<button id="hr-filter-selected-tag-reset" title="{{ text_filters_selected_clear_button }}" class="hr-filter-selected-tag-reset-btn">{{ text_filters_selected_clear_button }}</button>
	{% endif %}
</div>
{% endcapture %}

{% if initRender %}
<div class='hr-close'>
	<button class='hr-close-btn' tabindex="-1">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" fill="{{ button_icon_colors }}" width="24" height="24">
			<path fill="{{ button_icon_colors }}" stroke="{{ button_icon_colors }}" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
				  d="M 7.71875 6.28125 L 6.28125 7.71875 L 23.5625 25 L 6.28125 42.28125 L 7.71875 43.71875 L 25 26.4375 L 42.28125 43.71875 L 43.71875 42.28125 L 26.4375 25 L 43.71875 7.71875 L 42.28125 6.28125 L 25 23.5625 Z"/>
		</svg>
	</button>
</div>
<a href="#hr-products" class="hr-skip-content skip-to-product" tabindex="0" role="button">{{ label_skip_to_products }}</a>
<span id="hr-search-result"
	  class="hr-visually-hidden"
	  role="status" 
	  aria-live="polite" 
	  aria-atomic="true"
	  ></span>
{% endif %}
<div class="hr-search-plus-redirect">
	<div class="hr-redirects">
		<div class="hr-redirects-container" style="display: none;" id="hr-go-to-label">
			{{ text_go_directly_to }}
			<a class="hr-redirect-link" tabindex="0" aria-labelledby="hr-go-to-label hr-redirect-link-title">
				<span id="hr-redirect-link-title" class="hr-redirect-title" aria-hidden="true"></span>
				<span aria-hidden="true">↵</span>
			</a>
		</div>
	</div>
</div>
{% assign content = content | items %}
<div class="hr-results" data-show-mode="search" tabindex="0">
	<div class='hr-results-container'>
		{% unless initRender %}
		{% if content.size > 0 %}
		<div class='hr-content' data-tab="category" data-show-mode="search">
			{% for contentType in content %}
			<div class='hr-content-container'
				 data-show-mode="{{ contentType[1].showMode }}"
				 data-tab='{{ contentType[1].options.type }}'
				 data-content="{{ contentType[1].options.type }}">
				{% if contentType[1].totalResults <= 0 %}
													 <h2 class='hr-title'
				data-tab='{{ contentType[1].options.type }}'
				data-show-mode='{{ contentType[1].showMode }}'
				>
				<div class='hr-content-header'>
					{{ contentType[1].options.title }}
				</div>
				</h2>
			<p class='hr-content-text'>{{ text_category_no_content_before }}
				{{ contentType[1].options.title | downcase }}
				{{ text_category_no_content_after }}
			</p>
			{% else %}
			<h2 class='hr-title' data-tab='{{ contentType[1].options.type }}' data-show-mode="{{ contentType[1].showMode }}">
				<div class='hr-content-header'>
					{{ contentType[1].options.title }}
				</div>
			</h2>
			<ul
				data-tab='{{ contentType[1].options.type }}'
				data-content="{{ contentType[1].options.type }}"
				role="list"
				aria-labelledby="content-header-{{ contentType[1].options.type }}"
				>
				{% for ctnt in contentType[1].results %}
				<li class="hr-search-overlay-content" data-type="{{ contentType[1].options.type }}">
					<a class="hr-search-overlay-content-link" href="{{ ctnt.url }}">
						{{ ctnt.title }}
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link" aria-hidden="true">
							<path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
							<polyline points="15 3 21 3 21 9"></polyline>
							<line x1="10" y1="14" x2="21" y2="3"></line>
						</svg>

						<span class="hr-search-hierarchy-wrapper">
							{% for level in ctnt.hierarchy %}
							{% if level != "" and level != current_content_item.title %}
							<span class="hr-search-content-hierarchy-category">{{ level }}</span>
							{% unless forloop.last %}
							<span class="hr-search-content-hierarchy-divider">›</span>
							{% endunless %}
							{% endif %}
							{% endfor %}
						</span>
					</a>
				</li>
				{% endfor %}
			</ul>
			{% endif %}
		</div>
		{% endfor %}
	</div>
	{% endif %}
	{% endunless %}
	<div id="hr-products" role="region" class='hr-products {% unless initRender %}hr-moved{% endunless %}{% if initRender %}initialcontent{% endif %}' data-tab="product" data-show-mode="search" tabindex="0">
		{% if initialContent.size > 0 %}
		{% unless initRender %}
		<div class='hr-products-search-header'>
			<strong class="hr-highlight">{{ products.totalResults }}</strong>
			{{ text_search_products_title }}
		</div>
		{{ captured_filters }}
		<div class="hr-products-text">
			{{ result_subtitle | replace: "$query$", query | replace: "$totalResults$", products.totalResults | replace: "$contentType$", text_products }}
		</div>
		{% endunless %}
		<h2 class='hr-products-header hr-initial-content-header'>{{ initialContent[0].title }}
			<p class="hr-initial-content-subtitle">{{ initialContent[0].subtitle }}</p>
		</h2>
		<div class='hr-products-container' data-tab='product' data-content="product">
			{% for product in initialContent[0].products %}
			<div class="hr-search-overlay-product">
				<a class="hr-search-overlay-product-link" href="{{ product.url }}">
					<div class="hr-col-img">
						{% if product_sale_label %}
						<div class="hr-search-overlay-labels">
							{% if product.isOnSale %}
							<div class="hr-search-overlay-label hr-search-overlay-label__sale">
								-{{ product.oldPrice | minus: product.price | times: 100.0 | divided_by: product.oldPrice | round }}
								%
							</div>
							{% endif %}
						</div>
						{% endif %}
						<figure class="hr-search-overlay-product-thumbnail">
							<img src="{{ product.imgUrl }}" class="hr-search-overlay-product-image" alt="{{ product.title }}" title="{{ product.title }}">
						</figure>
					</div>
					<div class="hr-col-info">
						<div class="hr-search-overlay-product-info">
							<p class="hr-search-overlay-product-title">
								{{ product.title }}
							</p>
							{% if show_product_description == true %}
							<p class="hr-search-overlay-product-description">
								{{ product.description }}
							</p>
							{% endif %}
						</div>
					</div>
					<div class="hr-col-price">
						<div class="hr-search-overlay-product-price-box">
							{% if product.isOnSale %}
							<p class="hr-search-overlay-product-price hr-search-overlay-product-price-old">
								{{ product.oldPrice | priceWithCurrency: product.currency }}
							</p>
							<p class="hr-search-overlay-product-price hr-search-overlay-product-price-sale">
								{{ product.price | priceWithCurrency: product.currency }}
							</p>
							{% else %}
							<p class="hr-search-overlay-product-price hr-search-overlay-product-price-none">
								&nbsp;
							</p>
							<p class="hr-search-overlay-product-price hr-search-overlay-product-price-normal">
								{{ product.price | priceWithCurrency: product.currency }}
							</p>
							{% endif %}
						</div>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
		{% elsif initRender %}
		<div class="hr-placeholder" data-loader="product">&nbsp;</div>
		{% elsif products.totalResults == 0 %}
		<div class="hr-title">
			<div class='hr-products-search-header'>
				<strong class="hr-highlight">{{ products.totalResults }}</strong>
				{{ text_search_products_title }}
			</div>
			<div class="hr-products-text">
				{{ result_subtitle | replace: "$query$", query | replace: "$totalResults$", products.totalResults | replace: "$contentType$", text_products }}
			</div>
		</div>
		{% else %}
		<h2 class='hr-products-header'>{{ text_products_title }}</h2>

		<div class="hr-products-text" style="display: none;">
			{{ result_subtitle | replace: "$query$", query | replace: "$totalResults$", products.totalResults | replace: "$contentType$", text_products }}
		</div>

		{% if suggestedProductStatus == 'ONLY_SUGGESTED' %}
		<p class="hr-tab-subtitle">
			{{ text_synonym_only_suggested }}
		</p>
		{% elsif suggestedProductStatus == 'MIXED' %}
		<p class="hr-tab-subtitle">
			{{ text_synonym_mixed }}
		</p>
		{% endif %}
		{{ captured_filters }}
		{% comment %}Products{% endcomment %}
		<div class='hr-products-container' data-tab='product' data-content="product">
			{% for product in products.results %}
			<div class="hr-search-overlay-product{% if product.isBanner %} hr-search-overlay-b{% endif %}">
				{% comment %} Replace "BANNER_SIZE_NAME_PLACEHOLDER" with the size created for this design {% endcomment %}
				{% assign banner_size_search_desktop = product.bannerImages.BANNER_SIZE_NAME_PLACEHOLDER.url %}
				{% if product.isBanner %}
				<div class="hr-search-overlay-product-link" style="width: 100%; max-width: 100%; height:100%; margin: 0; box-shadow: none;">
					<a href="{{ product.url }}" class="hr-b-container">
						<div class="hr-b-image" style="background-image:url({{ banner_size_search_desktop }})"></div>
					</a>
				</div>
				{% else %}
				<a class="hr-search-overlay-product-link" href="{{ product.url }}">
					<div class="hr-col-img">
						{% if product_sale_label %}
						<div class="hr-search-overlay-labels">
							{% if product.isOnSale %}
							<div class="hr-search-overlay-label hr-search-overlay-label__sale">
								-{{ product.oldPrice | minus: product.price | times: 100.0 | divided_by: product.oldPrice | round }}
								%
							</div>
							{% endif %}
						</div>
						{% endif %}
						<figure class="hr-search-overlay-product-thumbnail">
							<img src="{{ product.imgUrl }}" class="hr-search-overlay-product-image" alt="{{ product.title }}" title="{{ product.title }}"/>
						</figure>
					</div>
					<div class="hr-col-info">
						<div class="hr-search-overlay-product-info">
							<p class="hr-search-overlay-product-title">
								{{ product.title }}
							</p>
							{% if show_product_description == true %}
							<p class="hr-search-overlay-product-description">
								{{ product.description }}
							</p>
							{% endif %}
						</div>
					</div>
					<div class="hr-col-price">
						<div class="hr-search-overlay-product-price-box">
							{% if product.isOnSale %}
							<p class="hr-search-overlay-product-price hr-search-overlay-product-price-old">
								{{ product.oldPrice | priceWithCurrency: product.currency }}
							</p>
							<p class="hr-search-overlay-product-price hr-search-overlay-product-price-sale">
								{{ product.price | priceWithCurrency: product.currency }}
							</p>
							{% else %}
							<p class="hr-search-overlay-product-price hr-search-overlay-product-price-none">
								&nbsp;
							</p>
							<p class="hr-search-overlay-product-price hr-search-overlay-product-price-normal">
								{{ product.price | priceWithCurrency: product.currency }}
							</p>
							{% endif %}
						</div>
					</div>
				</a>
				{% endif %}
			</div>
			{% endfor %}
		</div>
		{% endif %}
	</div>
</div>
</div>
