{# text header_logo_url = "https://helloretailcdn.com/static/images/logo.png" #}

{# text webshop_name = "My shop" #}
{# text webshop_name__Danish = "Min shop" #}
{# text webshop_name__Swedish = "Min butik" #}
{# text webshop_name__Dutch = "Mijn winkel" #}
{# text webshop_name__Norwegian = "Min butikk" #}
{# text webshop_name__Finnish = "Minun kauppani" #}
{# text webshop_name__German = "Mein Geschäft" #}
{# text webshop_name__French = "Mon magasin" #}
 
{# text text_type_to_search = "Search among products..." #}
{# text text_type_to_search__Danish = "Søg blandt produkter..." #}
{# text text_type_to_search__Swedish = "Sök bland produkter..." #}
{# text text_type_to_search__Dutch = "Zoeken" #}
{# text text_type_to_search__Norwegian = "Søk blant produkter..." #}
{# text text_type_to_search__Finnish = "Etsi tuotteista" #}
{# text text_type_to_search__German = "Suche unter Produkten..." #}
{# text text_type_to_search__French = "Que recherchez-vous?" #}
 
{# text text_sorting_title = "Sorting" #}
{# text text_sorting_title__Danish = "Sortering" #}
{# text text_sorting_title__Swedish = "Sortering" #}
{# text text_sorting_title__Dutch = "Sorteer op" #}
{# text text_sorting_title__Norwegian = "Sortere etter" #}
{# text text_sorting_title__Finnish = "Järjestä" #}
{# text text_sorting_title__German = "Sortieren nach" #}
{# text text_sorting_title__French = "Trier par" #}
 
{# text text_go_directly_to = "Go directly to:" #}
{# text text_go_directly_to__Danish = "Gå direkte til:" #}
{# text text_go_directly_to__Swedish = "Gå direkt till:" #}
{# text text_go_directly_to__Dutch = "Ga direct naar:" #}
{# text text_go_directly_to__Norwegian = "Gå direkte til" #}
{# text text_go_directly_to__Finnish = "Mene: " #}
{# text text_go_directly_to__German = "Gehen Sie direkt zu: " #}
{# text text_go_directly_to__French = "Aller directement à: " #}
 
{# text text_products_title = "Products" #}
{# text text_products_title__Danish = "Produkter" #}
{# text text_products_title__Swedish = "Produkter" #}
{# text text_products_title__Dutch = "Producten" #}
{# text text_products_title__Norwegian = "Produkter" #}
{# text text_products_title__Finnish = "Tuotteet" #}
{# text text_products_title__German = "Produkte" #}
{# text text_products_title__French = "Produits" #}
 
{# text text_show_results = "Show Results" #}
{# text text_show_results__Danish = "Vis resultater" #}
{# text text_show_results__Swedish = "Visa resultat" #}
{# text text_show_results__Dutch = "Resultaten weergeven" #}
{# text text_show_results__Norwegian = "Vis resultater" #}
{# text text_show_results__Finnish = "Näytä tulos" #}
{# text text_show_results__German = "Ergebnisse anzeigen" #}
{# text text_show_results__French = "Afficher les résultats" #}
 
{# text text_products = "products" #}
{# text text_products__Danish = "produkter" #}
{# text text_products__Swedish = "produkter" #}
{# text text_products__Dutch = "producten" #}
{# text text_products__Norwegian = "produkter" #}
{# text text_products__Finnish = "tuotetta" #}
{# text text_products__German = "produkte" #}
{# text text_products__French = "produits" #}
 
{# text text_filter_title = "Filters" #}
{# text text_filter_title__Danish = "Filtre" #}
{# text text_filter_title__Swedish = "Filter" #}
{# text text_filter_title__Dutch = "Filters" #}
{# text text_filter_title__Norwegian = "Filter" #}
{# text text_filter_title__Finnish = "Suodattaa" #}
{# text text_filter_title__German = "Filter" #}
{# text text_filter_title__French = "Filtres" #}
 
{# text result_subtitle = "The search <strong> \"$query$\"</strong> matches <strong>$totalResults$</strong> $contentType$" #}
{# text result_subtitle__Danish = "Søgningen <strong> \"$query$\"</strong> matcher<strong>$totalResults$</strong> $contentType$" #}
{# text result_subtitle__Swedish = "Sökningen <strong> \"$query$\"</strong> matchar <strong>$totalResults$</strong> $contentType$" #}
{# text result_subtitle__Dutch = "De zoekopdracht <strong> \"$query$\"</strong> heeft <strong>$totalResults$</strong> $contentType$ opgeleverd" #}
{# text result_subtitle__Norwegian = "Søket <strong> \"$query$\"</strong> matcher <strong>$totalResults$</strong> $contentType$" #}
{# text result_subtitle__Finnish = "Hakusi <strong> \"$query$\"</strong> ottelut <strong>$totalResults$</strong> $contentType$" #}
{# text result_subtitle__German = "Die Suche nach<strong> \"$query$\"</strong> ergab <strong>$totalResults$</strong> $contentType$" #}
{# text result_subtitle__French = "Résultats de recherche pour <strong> \"$query$\"</strong> correspond à <strong>$totalResults$</strong> $contentType$" #}
 
{# text result_filters_subtitle = "Your choices gave <strong class='hr-highlight'>$totalResults$</strong> $contentType$" #}
{# text result_filters_subtitle__Danish = "Dine valg gav <strong class='hr-highlight'>$totalResults$</strong> $contentType$" #}
{# text result_filters_subtitle__Swedish = "Dina val gav <strong class='hr-highlight'>$totalResults$</strong> $contentType$" #}
{# text result_filters_subtitle__Dutch = "Jouw keuzes gaven <strong class='hr-highlight'>$totalResults$</strong> $contentType$ geselecteerd" #}
{# text result_filters_subtitle__Norwegian = "Dine valg ga <strong class='hr-highlight'>$totalResults$</strong> $contentType$" #}
{# text result_filters_subtitle__Finnish = "Valintasi tuottivat <strong class='hr-highlight'>$totalResults$</strong> $contentType$" #}
{# text result_filters_subtitle__German = "Deine Entscheidungen haben gegeben <strong class='hr-highlight'>$totalResults$</strong> $contentType$" #}
{# text result_filters_subtitle__French = "Vos choix ont donné <strong class='hr-highlight'>$totalResults$</strong> $contentType$" #}
 
{# text text_recent_searches = "Recent Searches: " #}
{# text text_recent_searches__Danish = "Seneste Søgninger: " #}
{# text text_recent_searches__Swedish = "Senaste Sökningar: " #}
{# text text_recent_searches__Dutch = "Recente Zoekopdrachten: " #}
{# text text_recent_searches__Norwegian = "Nylige Søk: " #}
{# text text_recent_searches__Finnish = "Viimeaikaiset Hakuja: " #}
{# text text_recent_searches__German = "Letzte Suchanfragen: " #}
{# text text_recent_searches__French = "Recherches Récentes: " #}
 
{# text text_reset_filter_title = "Reset all" #}
{# text text_reset_filter_title__Danish = "Nulstil alle" #}
{# text text_reset_filter_title__Swedish = "Återställ allt" #}
{# text text_reset_filter_title__Dutch = "Alles opnieuw instellen" #}
{# text text_reset_filter_title__Norwegian = "Tilbakestill alt" #}
{# text text_reset_filter_title__Finnish = "Nollaa kaikki" #}
{# text text_reset_filter_title__German = "Alles zurücksetzen" #}
{# text text_reset_filter_title__French = "Réinitialiser tout" #}
 
{# text product_sale_label_text = "Sale" #}
{# text product_sale_label_text__Danish = "Udsalg" #}
{# text product_sale_label_text__Swedish = "Rea" #}
{# text product_sale_label_text__Dutch = "Uitverkoop" #}
{# text product_sale_label_text__Norwegian = "Salg" #}
{# text product_sale_label_text__Finnish = "Alennus" #}
{# text product_sale_label_text__German = "Angebot" #}
{# text product_sale_label_text__French = "Soldes" #}
 
{# text text_synonym_only_suggested = "We didn't find exactly what you were looking for, but here are some products you might find interesting:" #}
{# text text_synonym_only_suggested__Danish = "Vi fandt ikke præcis det, du søgte efter, men her er nogle produkter, du måske finder interessante:" #}
{# text text_synonym_only_suggested__Swedish = "Vi hittade inte exakt det du sökte efter, men här är några produkter som du kanske tycker är intressanta:" #}
{# text text_synonym_only_suggested__Dutch = "We hebben niet precies gevonden wat je zocht, maar hier zijn enkele andere suggesties:" #}
{# text text_synonym_only_suggested__Norwegian = "Vi fant ikke akkurat det du lette etter, men her er noen produkter du kanskje finner interessant:" #}
{# text text_synonym_only_suggested__Finnish = "Emme löytäneet ihan sitä mitä etsit, mutta tässä tuotteita jotka saattavat kiinnostaa sinua:" #}
{# text text_synonym_only_suggested__German = "Wir haben nicht genau das gefunden wonach Sie gesucht haben, aber hier sind einige Produkte die für sie interessant sein könnten:" #}
{# text text_synonym_only_suggested__French = "Nous n'avons pas trouvé exactement ce que vous recherchiez, mais voici quelques produits qui pourraient vous intéresser:" #}
 
{# text text_synonym_mixed = "We have expanded the search with more products that you might find interesting." #}
{# text text_synonym_mixed__Danish = "Vi har udvidet søgningen med flere produkter du måske finder interessante." #}
{# text text_synonym_mixed__Swedish = "Vi har utökat sökningen med fler produkter som du kanske tycker är intressanta." #}
{# text text_synonym_mixed__Dutch = "We hebben andere producten aan de zoekopdracht toegevoegd die je mogelijk interessant vindt." #}
{# text text_synonym_mixed__Norwegian = "Vi har utvidet søket med flere produkter som du kanskje finner interessante." #}
{# text text_synonym_mixed__Finnish = "Olemme laajentaneet etsintöja tuotteilla jotka saattaisivat kiinnostaa sinua." #}
{# text text_synonym_mixed__German = "Wir haben die Suche mit um mehr Produkte erweitert die für Sie interessant sein könnten." #}
{# text text_synonym_mixed__French = "Nous avons élargi la recherche à d'autres produits susceptibles de vous intéresser." #}

{# section Accessibility #}
{# text label_filters = "Filters" #}
{# text label_filters__Danish = "Filtre" #}
{# text label_filters__Swedish = "Filter" #}
{# text label_filters__Dutch = "Filters" #}
{# text label_filters__Norwegian = "Filtre" #}
{# text label_filters__Finnish = "Suodattimet" #}
{# text label_filters__German = "Filter" #}
{# text label_filters__French = "Filtres" #}

{# text label_sorting = "Sorting" #}
{# text label_sorting__Danish = "Sortering" #}
{# text label_sorting__Swedish = "Sortering" #}
{# text label_sorting__Dutch = "Sorteren" #}
{# text label_sorting__Norwegian = "Sortering" #}
{# text label_sorting__Finnish = "Lajittelu" #}
{# text label_sorting__German = "Sortierung" #}
{# text label_sorting__French = "Tri" #}

{# text label_clear_filter = "Clear filter" #}
{# text label_clear_filter__Danish = "Ryd filtre" #}
{# text label_clear_filter__Swedish = "Rensa filter" #}
{# text label_clear_filter__Dutch = "Filter wissen" #}
{# text label_clear_filter__Norwegian = "Fjern filtre" #}
{# text label_clear_filter__Finnish = "Tyhjennä suodattimet" #}
{# text label_clear_filter__German = "Filter löschen" #}
{# text label_clear_filter__French = "Effacer le filtre" #}

{# text label_skip_to_products = "Skip to products" #}
{# text label_skip_to_products__Danish = "Spring til produkter" #}
{# text label_skip_to_products__Swedish = "Hoppa till produkter" #}
{# text label_skip_to_products__Dutch = "Ga naar producten" #}
{# text label_skip_to_products__Norwegian = "Hopp til produkter" #}
{# text label_skip_to_products__Finnish = "Siirry tuotteisiin" #}
{# text label_skip_to_products__German = "Zu den Produkten springen" #}
{# text label_skip_to_products__French = "Aller aux produits" #}

{# text label_skip_to_input = "Skip to search input" #}
{# text label_skip_to_input__Danish = "Spring til søgefeltet" #}
{# text label_skip_to_input__Swedish = "Hoppa till sökfältet" #}
{# text label_skip_to_input__Dutch = "Ga naar zoekveld" #}
{# text label_skip_to_input__Norwegian = "Hopp til søkefeltet" #}
{# text label_skip_to_input__Finnish = "Siirry hakukenttään" #}
{# text label_skip_to_input__German = "Zum Suchfeld springen" #}
{# text label_skip_to_input__French = "Aller au champ de recherche" #}

{# text label_close_search = "Close search" #}
{# text label_close_search__Danish = "Luk søgning" #}
{# text label_close_search__Swedish = "Stäng sökningen" #}
{# text label_close_search__Dutch = "Zoeken sluiten" #}
{# text label_close_search__Norwegian = "Lukk søk" #}
{# text label_close_search__Finnish = "Sulje haku" #}
{# text label_close_search__German = "Suche schließen" #}
{# text label_close_search__French = "Fermer la recherche" #}

{# text label_show_filters = "Show filters" #}
{# text label_show_filters__Danish = "Vis filtre" #}
{# text label_show_filters__Swedish = "Visa filter" #}
{# text label_show_filters__Dutch = "Toon filters" #}
{# text label_show_filters__Norwegian = "Vis filtre" #}
{# text label_show_filters__Finnish = "Näytä suodattimet" #}
{# text label_show_filters__German = "Filter anzeigen" #}
{# text label_show_filters__French = "Afficher les filtres" #}

{# text label_back_to_results = "Back to results" #}
{# text label_back_to_results__Danish = "Tilbage til resultaterne" #}
{# text label_back_to_results__Swedish = "Tillbaka till resultaten" #}
{# text label_back_to_results__Dutch = "Terug naar resultaten" #}
{# text label_back_to_results__Norwegian = "Tilbake til resultater" #}
{# text label_back_to_results__Finnish = "Takaisin tuloksiin" #}
{# text label_back_to_results__German = "Zurück zu den Ergebnissen" #}
{# text label_back_to_results__French = "Retour aux résultats" #}

{# text label_back_to_filters = "Back to filters" #}
{# text label_back_to_filters__Danish = "Tilbage til filtre" #}
{# text label_back_to_filters__Swedish = "Tillbaka till filter" #}
{# text label_back_to_filters__Dutch = "Terug naar filters" #}
{# text label_back_to_filters__Norwegian = "Tilbake til filtre" #}
{# text label_back_to_filters__Finnish = "Takaisin suodattimiin" #}
{# text label_back_to_filters__German = "Zurück zu den Filtern" #}
{# text label_back_to_filters__French = "Retour aux filtres" #}

{# text label_filters_list = "Filters list" #}
{# text label_filters_list__Danish = "Filterliste" #}
{# text label_filters_list__Swedish = "Filterlista" #}
{# text label_filters_list__Dutch = "Filterlijst" #}
{# text label_filters_list__Norwegian = "Filterliste" #}
{# text label_filters_list__Finnish = "Suodatinlista" #}
{# text label_filters_list__German = "Filterliste" #}
{# text label_filters_list__French = "Liste des filtres" #}

{# text label_sorting_list = "Sorting list" #}
{# text label_sorting_list__Danish = "Sorteringsliste" #}
{# text label_sorting_list__Swedish = "Sorteringslista" #}
{# text label_sorting_list__Dutch = "Sorteerlijst" #}
{# text label_sorting_list__Norwegian = "Sorteringsliste" #}
{# text label_sorting_list__Finnish = "Lajittelulista" #}
{# text label_sorting_list__German = "Sortierungsliste" #}
{# text label_sorting_list__French = "Liste de tri" #}

{# boolean show_header_close = true #}
{# boolean show_header_filters = true #}
{# boolean hide_header = false #}
{# boolean search_box_shadows = false #}
{# boolean show_product_extra = true #}
{# boolean product_labels = true #}
{# boolean show_footer_navigation_island = false #}
{# boolean show_vertical_link_content = false #}
{# boolean product_grid_layout = false #}

{# color primary_shop_color = "#000000" #}
{# color secondary_shop_color = "#EFEFEF" #}
{# color close_button_color = {{ primary_shop_color }} #}
{# color filters_button_color = {{ primary_shop_color }} #}
{# color search_button_color = {{ primary_shop_color }} #}
{# color back_button_color = {{ primary_shop_color }} #}
{# color filters_reset_button_color = {{ primary_shop_color }} #}

{% assign product_list = initialContent[0].products | default: products.results %}
{% capture render_products %}
{% for product in product_list %}
<div class="hr-search-overlay-product" role="article">
	{% comment %} Replace "BANNER_SIZE_NAME_PLACEHOLDER" with the size created for this design {% endcomment %}
	{% assign banner_size_search_mobile = product.bannerImages.BANNER_SIZE_NAME_PLACEHOLDER.url %}
	{% if product.isBanner and banner_size_search_mobile %}
	<div class="hr-search-overlay-product" style="width: 100%; max-width: 100%; margin: 0;">
		<div class="hr-row">
			<a href="{{ product.url }}" class="hr-b-container">
				<div class="hr-b-image {% if product_grid_layout %}grid{% else %}list{% endif %}"
					 style="background-image:url({{ banner_size_search_mobile }});"></div>
			</a>
		</div>
	</div>
	{% else %}
	<a class="hr-search-overlay-product-link" href="{{ product.url }}">
		<div class="hr-row">
			<div class="hr-col-img">
				{% if product_labels %}
				{% if product.isOnSale %}
				<div class="hr-search-overlay-product-badge">
					{{ product_sale_label_text }}
					-{{ product.oldPrice | minus: product.price | times: 100.0 | divided_by: product.oldPrice | round }}%
				</div>
				{% endif %}
				{% endif %}
				<figure class="hr-search-overlay-product-thumbnail">
					<img src="{{ product.imgUrl }}" class="hr-search-overlay-product-image"
						 alt="{{ product.title }}" title="{{ product.title }}">
				</figure>
			</div>
			<div class="hr-col-info">
				<div class="hr-col-text">
					<div class="hr-search-overlay-product-info">
						{% if show_product_extra == true %}
						<p class="hr-search-overlay-product-extra">
							{{ product.brand }}
						</p>
						{% endif %}
						<p class="hr-search-overlay-product-title">
							{{ product.title }}
						</p>
					</div>
				</div>
				<div class="hr-col-price">
					<div class="hr-search-overlay-product-price-box">
						{% if product.isOnSale %}
						<p class="hr-search-overlay-product-price hr-search-overlay-product-price-sale">
							{{ product.price | priceWithCurrency: product.currency }}
						</p>
						<p class="hr-search-overlay-product-price hr-search-overlay-product-price-old">
							{{ product.oldPrice | priceWithCurrency: product.currency }}
						</p>
						{% else %}
						<p class="hr-search-overlay-product-price hr-search-overlay-product-price-normal">
							{{ product.price | priceWithCurrency: product.currency }}
						</p>
						{% endif %}
					</div>
				</div>
			</div>
			{% if product_grid_layout == false %}
			<span class="hr-icon-container">
				<span class="hr-icon-arrow hr-icon"></span>
			</span>
			{% endif %}
		</div>
	</a>
	{% endif %}
</div>
{% endfor %}
{% endcapture %}

{% if initRender %}
	<div class="hr-header hr-nav {% if hide_header %} hr-hidden-header {% endif %}">
		{% if show_header_close %}
			<button class='hr-close'>
				<label class="hr-visually-hidden">{{ label_close_search }}</label>
				<div class="hr-icon-container">
					<div class="hr-icon-cross hr-icon"></div>
				</div>
			</button>
		{% endif %}

		{% if header_logo_url != "" %}
			<a class="hr-logo" href="/" tabindex="0">
				<img src="{{ header_logo_url }}" alt="{{ webshop_name }}">
			</a>
		{% endif %}

		{% if (filters.size > 0 or sorting.options.size > 0) and show_header_filters %}
			<button class="hr-filters" aria-labelledby="hr-filters-label hr-filters-status">
				<label id="hr-filters-label" class="hr-visually-hidden">{{ label_show_filters }}</label>
				<svg
						version="1.1"
						stroke="{{ filters_button_color }}"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						x="0px"
						y="0px"
						viewBox="0 0 30 36"
						enable-background="new 0 0 30 36"
						xml:space="preserve">
					<g id="icn-sliders">
						<path fill="none" stroke="{{ filters_button_color }}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M1.5,6H12"/>
						<path fill="none" stroke="{{ filters_button_color }}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M18,6h10.5"/>
						<path fill="none" stroke="{{ filters_button_color }}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M1.5,18H15"/>
						<path fill="none" stroke="{{ filters_button_color }}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M21,18h7.5"/>
						<path fill="none" stroke="{{ filters_button_color }}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M1.5,30H9"/>
						<path fill="none" stroke="{{ filters_button_color }}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M15,30 h13.5"/>
						<path fill="none" stroke="{{ filters_button_color }}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M12,1.5v9"/>
						<path fill="none" stroke="{{ filters_button_color }}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M21,13.5v9 "/>
						<path fill="none" stroke="{{ filters_button_color }}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M9,25.5v9"/>
					</g>
				</svg>
				<span id="hr-filters-status" class="hr-visually-hidden"></span>
				<span class="hr-selected-filter-count" style="display:none"></span>
			</button>
		{% endif %}

	</div>
	<div class='hr-nav{% if search_box_shadows == true %} hr-shadows{% endif %}'>
		<div class="hr-search" id="hr-search" tabindex="-1">
			<input id='hr-search-input' type='text' maxlength="{{ search_input_character_limit }}" class='grow' placeholder='{{ text_type_to_search }}' />
			<span id="hr-search-result"
				  class="hr-visually-hidden"
				  role="status"
				  aria-live="polite"
				  aria-atomic="true"
			></span>
			<span class="hr-btn-search" type="submit">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve">
					<path
							fill="{{ search_button_color }}"
							d="M23.6,22.4l-4.3-4.3C21,16.3,22,13.7,22,11c0-6.1-4.9-11-11-11S0,4.9,0,11s4.9,11,11,11c2.7,0,5.3-1,7.2-2.7
							 l4.3,4.3L23.6,22.4z M1.6,11c0-5.2,4.2-9.4,9.4-9.4c5.2,0,9.4,4.2,9.4,9.4c0,5.2-4.2,9.4-9.4,9.4C5.8,20.4,1.6,16.2,1.6,11z"/>
				</svg>
			</span>
		</div>
	</div>

	<div class="hr-redirects">
		<div class="hr-redirects-container" style="display: none;" id="hr-go-to-label">
			{{ text_go_directly_to }}
			<a class="hr-redirect-link" aria-labelledby="hr-go-to-label hr-redirect-link-title">
				<span id="hr-redirect-link-title" class="hr-redirect-title" aria-hidden="true"></span>
				<span aria-hidden="true">↵</span>
			</a>
		</div>
	</div>
{% endif %}

{% assign content = content | items %}

{% if show_vertical_link_content == false %}
	<a href="#hr-products" class="skip-content skip-to-product" tabindex="0" role="button">{{ label_skip_to_products }}</a>
{% endif %}

<div class='hr-tabs'>
	<div class="hr-tab-nav hr-content-header-container" role="tablist">
		<button class='hr-tab-header {% if show_vertical_link_content == false %} hr-hidden{% endif %}' role="tab" id="product-tab" data-tab='product' aria-controls="product" role="tab">
			{{ text_products_title }}
		</button>
		{% for contentType in content %}
			<button class='hr-tab-header' role="tab" id='{{ contentType[1].options.type }}-tab' aria-controls="{{ contentType[1].options.type }}" data-tab='{{ contentType[1].options.type }}'>
				{{ contentType[1].options.title }}
			</button>
		{% endfor %}
	</div>
	<div class='hr-tab-content'
		 data-content-type="{% if show_vertical_link_content %}vertical{% else %}horizontal{% endif %}">
		{% if show_vertical_link_content %}
			{% for contentType in content %}
				<div
						id='{{ contentType[1].options.type }}'
						class='hr-tab-body test'
						aria-labelledby='{{ contentType[1].options.type }}-tab'
						data-tab='{{ contentType[1].options.type }}'
						data-content='{{ contentType[1].options.type }}'
						role="tabpanel"
				>
					<div class='hr-tab-wrapper'>
						{% if initRender %}
							<div class="hr-tab-header">
								<p class="hr-tab-subtitle">{{ contentType[1].options.subtitle }}</p>
							</div>
							<div class="hr-placeholder" data-loader="{{ contentType[1].options.type }}">&nbsp;</div>
						{% else %}
							<div class="hr-tab-header">
								<p class="hr-tab-subtitle">
									{{ result_subtitle | replace: "$query$", query | replace: "$totalResults$", contentType[1].totalResults | replace: "$contentType$", contentType[1].options.title }}
								</p>
							</div>
							{% for ctnt in contentType[1].results %}
								<div class="hr-search-overlay-content" data-type="{{ contentType[1].options.type }}">
									<a class="hr-search-overlay-content-link" href="{{ ctnt.url }}">
										{{ ctnt.title }}
										
										<span class="hr-search-hierarchy-wrapper">
											{% for level in ctnt.hierarchy %}
												{% if level != "" and level != ctnt.title %}
												<span class="hr-search-content-hierarchy-category">{{ level }}</span>
												{% unless forloop.last %}
												<span class="hr-search-content-hierarchy-divider">›</span>
												{% endunless %}
												{% endif %}
											{% endfor %}
										</span>
									</a>
									<svg
											xmlns="http://www.w3.org/2000/svg"
											width="24"
											height="24"
											viewBox="0 0 24 24"
											fill="none"
											stroke="currentColor"
											stroke-width="2"
											stroke-linecap="round"
											stroke-linejoin="round"
											class="feather feather-external-link">
										<path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
										<polyline points="15 3 21 3 21 9"></polyline>
										<line x1="10" y1="14" x2="21" y2="3"></line>
									</svg>
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
			{% endfor %}
		{% else %}
			{% for contentType in content %}
				<div
						class='hr-tab-body'
						data-tab='{{ contentType[1].options.type }}'
						data-content="{{ contentType[1].options.type }}"
						aria-labelledby='{{ contentType[1].options.type }}-tab'
						role="tabpanel"
				>
					<div class='hr-tab-wrapper hr-content-container'>
						{% for ctnt in contentType[1].results %}
							<div class="hr-search-overlay-content" data-type="{{ contentType[1].options.type }}">
								<a class="hr-search-overlay-content-link" href="{{ ctnt.url }}">
									{% assign reversed = ctnt.hierarchy | reverse %}
									{% assign second_to_last = reversed[1] %}

									{% if ctnt.hierarchy.size > 1 %}
									<span class="hr-search-hierarchy-wrapper_horizontal">
										<span class="hr-search-content-hierarchy-divider">&nbsp;{{ second_to_last }} | </span>
									</span>
									{% endif %}

									{{ ctnt.title }}
								</a>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endfor %}
			<a href="#hr-search" class="skip-content skip-to-input" tabindex="0">{{ label_skip_to_input }}</a>
		{% endif %}
		<div id="hr-products" role="region" class='hr-tab-body' data-tab='product' data-content="product">
			<div data-total-products="{{ products.totalResults }}" class='hr-tab-wrapper{% if product_grid_layout %} hr-search-overlay-grid-container{% endif %}'>
				{% if initialContent.size > 0 %}
					<div class="hr-tab-header hr-initial-content-header">
						{% unless initRender %}
							<p class="hr-tab-subtitle">
								{{ result_subtitle | replace: "$query$", query | replace: "$totalResults$", products.totalResults | replace: "$contentType$", text_products }}
							</p>
						{% endunless %}
						<div class="hr-recent-search hr-hidden">
							<p class="hr-tab-subtitle">{{ text_recent_searches }}</p>
							<div class="hr-recent-search-wrapper"></div>
						</div>
						<p class="hr-tab-subtitle">{{ initialContent[0].subtitle }}</p>
					</div>
				
					<div class="hr-products-container">
						{{ render_products }}
					</div>
				{% elsif initRender %}
					<div class="hr-tab-header">
						<p class="hr-tab-subtitle">{{ text_type_to_search }}</p>
					</div>
					<div class="hr-placeholder" data-loader="product">&nbsp;</div>
				{% else %}
					<div class="hr-tab-header">
						<p class="hr-tab-subtitle">
							{{ result_subtitle | replace: "$query$", query | replace: "$totalResults$", products.totalResults | replace: "$contentType$", text_products }}
						</p>
						{% if suggestedProductStatus == 'ONLY_SUGGESTED' %}
							<p class="hr-tab-subtitle">
								{{ text_synonym_only_suggested }}
							</p>
						{% elsif suggestedProductStatus == 'MIXED' %}
							<p class="hr-tab-subtitle">
								{{ text_synonym_mixed }}
							</p>
						{% endif %}
					</div>
				
					<div class="hr-products-container">
						{{ render_products }}
					</div>
				{% endif %}
			</div>
		</div>
	</div>

	{% if show_footer_navigation_island %}
		<div class="hr-island-nav">
			<div class="hr-island-container hr-slideInUp">
				{% if filters.size > 0 or sorting.options.size > 0 %}
					<button class='hr-filters hr-slideInRight' aria-labelledby="hr-filters-label hr-filters-status">
						<label id="hr-filters-label" class="hr-visually-hidden">{{ label_show_filters }}</label>
						<svg
								version="1.1"
								stroke="{{ filters_button_color }}"
								xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink"
								x="0px"
								y="0px"
								viewBox="0 0 30 36"
								enable-background="new 0 0 30 36"
								xml:space="preserve">
							<g id="icn-sliders">
								<path fill="none" stroke="{{ filters_button_color }}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M1.5,6H12"/>
								<path fill="none" stroke="{{ filters_button_color }}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M18,6h10.5"/>
								<path fill="none" stroke="{{ filters_button_color }}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M1.5,18H15"/>
								<path fill="none" stroke="{{ filters_button_color }}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M21,18h7.5"/>
								<path fill="none" stroke="{{ filters_button_color }}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M1.5,30H9"/>
								<path fill="none" stroke="{{ filters_button_color }}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M15,30 h13.5"/>
								<path fill="none" stroke="{{ filters_button_color }}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M12,1.5v9"/>
								<path fill="none" stroke="{{ filters_button_color }}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M21,13.5v9 "/>
								<path fill="none" stroke="{{ filters_button_color }}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M9,25.5v9"/>
							</g>
						</svg>
						<span id="hr-filters-status" class="hr-visually-hidden"></span>
						<span class="hr-selected-filter-count" style="display:none"></span>
					</button>
				{% endif %}
				<button class='hr-close'>
					<label class="hr-visually-hidden">{{ label_show_filters }}</label>
					<div class="hr-icon-container">
						<div class="hr-icon-cross hr-icon"></div>
					</div>
				</button>
			</div>
		</div>
	{% endif %}

</div>

{% if filters.size > 0 or sorting.options.size > 0 %}
	<div class="hr-filters">
		<div class='hr-filter-nav'>
			<button class='hr-close'>
				<label class="hr-visually-hidden">{{ label_back_to_results }}</label>
				<svg xmlns="http://www.w3.org/2000/svg"
					 width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="{{ back_button_color }}"
					 stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
					 class="feather feather-arrow-left mr-2">
					<line x1="19" y1="12" x2="5" y2="12"></line>
					<polyline points="12 19 5 12 12 5"></polyline>
				</svg>
			</button>
			<span class='hr-filter-title grow'>{{ text_filter_title }}</span>
			<button class='hr-reset'>{{ text_reset_filter_title }}</button>
		</div>
		<div class="hr-filters-container" tabindex="-1">
			<label class="hr-visually-hidden">{{ label_filters_list }}</label>
			{% if sorting.options.size > 0 %}
				<div class="hr-search-overlay-filter" data-filter="sorting">
					<div class="hr-search-overlay-filter-list-item">
						<div class="hr-search-overlay-filter-title hr-search-overlay-toggle-button">
							{{ text_sorting_title }}
							<span class='hr-search-overlay-toggle-info'>
								{% for o in sorting.options %}
									{% if o.selected %}
										{{ o.title }}
									{% endif %}
								{% endfor %}
							</span>
						</div>
						<button class="hr-nav-button">
							<label class="hr-visually-hidden">{{ label_sorting }}</label>
							<span class="hr-icon-container">
								<span class="hr-icon-arrow hr-icon"></span>
							</span>
						</button>
					</div>
					<div class="hr-search-overlay-filter-content">
						<div class='hr-filter-nav'>
							<button class='hr-close'>
								<label class="hr-visually-hidden">{{ label_back_to_filters }}</label>
								<svg xmlns="http://www.w3.org/2000/svg"
									 width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="{{ back_button_color }}"
									 stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
									 class="feather feather-arrow-left mr-2">
									<line x1="19" y1="12" x2="5" y2="12"></line>
									<polyline points="12 19 5 12 12 5"></polyline>
								</svg>
							</button>
							<span class='hr-filter-title grow'>{{ text_sorting_title }}</span>
							<button class='hr-reset' data-filter="sorting">{{ text_reset_filter_title }}</button>
						</div>

						<div class="hr-search-overlay-filter-wrap" data-filter="sorting" tabindex="-1">
							<label class="hr-visually-hidden">{{ label_sorting_list }}</label>
							{{ sorting.asTagList }}
						</div>

						<div class="hr-filter-nav hr-filter-nav-bottom">
							<button class="hr-show-results">{{ text_show_results }}</button>
						</div>
					</div>
				</div>
			{% endif %}

			{% assign filters = filters | items %}
			{% for filter in filters %}
				<div class="hr-search-overlay-filter" data-filter="{{ filter[0] }}" data-ranged="{% if filter[1].isRange %}true{% else %}false{% endif %}">

					<div class="hr-search-overlay-filter-list-item">
						<div class="hr-search-overlay-filter-title {% if filter[1].isRange %} hr-search-overlay-range-active-row{% endif %}">
							{{ filter[1].title }}
							{% if filter[1].isActive %}
								<span class='hr-search-overlay-clear-filter' data-hr-search-overlay-clear-filter="{{ filter[0] }}"></span>
							{% endif %}
							{% if filter[1].isActive %}
								<div class='hr-search-overlay-toggle-info-container'>
									{% if filter[1].isRange %}
										{{ filter[1].selectedMin | floor }} - {{ filter[1].selectedMax | ceil }}
									{% else %}
										{% assign displayedCount = 0 %}
										{% for filterOption in filter[1].options %}
											{% if filterOption.selected and displayedCount < 3 %}
												{% assign displayedCount = displayedCount | plus: 1 %}
												<span class="hr-search-overlay-toggle-info-item">
															{{ filterOption.title }}
													{% if filter[1].selectedOptionCount > 1 and displayedCount != 3 and (filter[1].selectedOptionCount != 2 or displayedCount == 1) %}
														&#44;
													{% endif %}
														</span>
											{% endif %}
										{% endfor %}
										{% if filter[1].selectedOptionCount > 3 %}
											<span style="white-space: nowrap;">+ {{ filter[1].selectedOptionCount | minus: 3 }}</span>
										{% endif %}
									{% endif %}
								</div>
							{% endif %}
						</div>
						{% if filter[1].isRange != true %}
							<button class="hr-nav-button">
								<label class="hr-visually-hidden">{{ filter[1].title }}</label>
								<span class="hr-icon-container">
									<span class="hr-icon-arrow hr-icon"></span>
								</span>
							</button>
						{% endif %}
					</div>

					<div class="hr-search-overlay-filter-content">
						{% if filter[1].isRange %}
							<div class="hr-search-overlay-filter-wrap" data-filter="{{ filter[0] }}" data-filter="{{ filter[0] }}">
								{{ filter[1] }}
							</div>
						{% else %}
							<div class='hr-filter-nav'>
								<button class='hr-close'>
									<label class="hr-visually-hidden">{{ label_back_to_filters }}</label>
									<svg xmlns="http://www.w3.org/2000/svg"
										 width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="{{ back_button_color }}"
										 stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
										 class="feather feather-arrow-left mr-2">
										<line x1="19" y1="12" x2="5" y2="12"></line>
										<polyline points="12 19 5 12 12 5"></polyline>
									</svg>
								</button>
								<span class='hr-filter-title grow'>{{ filter[1].title }}</span>
								<button class='hr-reset' data-filter="{{ filter[0] }}">
									{{ text_reset_filter_title }}
								</button>
							</div>

							<div class="hr-search-overlay-filter-wrap" tabindex="-1" data-filter="{{ filter[0] }}">
								{{ filter[1] }}
							</div>

							<div class="hr-filter-nav hr-filter-nav-bottom">
								<button class="hr-show-results">{{ text_show_results }}</button>
							</div>
						{% endif %}
					</div>
				</div>

			{% endfor %}

			{% unless initRender %}
				<p class="products-displayed">
					{{ result_filters_subtitle | replace: "$contentType$", text_products | replace: "$totalResults$", products.totalResults }}
				</p>
			{% endunless %}
		</div>
		<div class="hr-filter-nav hr-filter-nav-bottom">
			<button class="hr-show-results">
				{{ text_show_results }}
			</button>
		</div>
	</div>
{% endif %}