/* General */
{# text webshop_logo_width = "140" #}
{# text background_image = "" #}
{# text background_color_rgba = "rgba(255, 255, 255)" #}
{# color primary_shop_color = "#F13658" #}
{# color primary_text_color = "#191F29" #}
{# color secondary_shop_color = "#EFEFEF" #}
{# color reset_color = "#FF0000" #}

/* Header */
{# text search_bar_border_px = "0" #}
{# text search_bar_border_radius_px = "99" #}
{# text search_bar_font_size = "16px" #}
{# text search_bar_font_weight = "400" #}
{# color search_bar_input_color = "#232324" #}
{# color search_bar_background_color = "#EFEFEF" #}
{# color back_button_background_color = "#f1f1f8" #}
{# boolean search_input_center = false #}
{% assign search_input_alignment = "left" %}
{% if search_input_center %}
{% assign search_input_alignment = "center" %}
{% endif %}

{# color redirect_text_color = "#232324" #}
{# color redirect_link_color = "#232324" #}
{# color redirect_label_color = "#f1f4f8" #}

{# color back_button_color_color = "#ffffff" #}

{# text back_button_border_px = "0" #}
{# text back_button_border_radius_px = "8" #}

/* Filter Button */
{# color filter_button_background_color = "#f1f1f8" #}
{# color filter_button_color = "#ab9696" #}
{# text filter_button_border_px = "0" #}
{# text filter_button_border_radius_px = "8" #}

/* Content Area */
{# color active_tab_title_color = "#000000" #}
{# color tab_title_color = "#4d4f5c" #}
{# color tab_subtitle_color = "#4d4f5c" #}
{# color tab_subtitle_highlight_color = "#000000" #}
{# color tab_active_background_color = "#FFFFFF" #}
{# color tab_inactive_background_color = "#ffffff" #}

{# text tab_header_active_border_radius_px = "16" #}
{# text tab_header_border_radius_px = "16" #}
{# text tab_header_active_border_px = "0" #}
{# text tab_header_border_px = "0" #}
{# text tab_header_box_shadow_color = "0px 2px 8px rgba(0,0,0,.2)" #}

{# boolean show_category_content_hierarchy = true #}
{# color content_hierarchy_text_color = "#c3c3c3" #}

/* Product Tiles  */
{# color product_tile_background_color = "#ffffff" #}
{# text product_tile_title_font_size = "16px" #}
{# text product_tile_title_font_weight = "400" #}
{# color product_tile_title_color = "#232324" #}
{# text product_image_width = "auto" #}
{# text product_image_height = "auto" #}
{# text product_image_max_height_px = "100px" #}
{# text product_image_border_radius_px = "10px" #}
{# text product_extra_font_size = "12" #}
{# text product_extra_font_weight = "400" #}
{# color product_extra_color = "#232324" #}
{# text product_price_font_size = "14px" #}
{# color product_price_color = "#232324" #}
{# color product_price_on_sale_color = "#232324" #}

/* Filters */
{# color filter_header_background = "#f1f1f8" #}
{# color notification_bubble_background_color = {{ primary_shop_color }} #}
{# color notification_bubble_color = "#ffffff" #}
{# color filter_color_even = "#ffffff" #}
{# color filter_color_odd = "#ffffff" #}
{# color filter_show_results_button_background_color = {{ primary_shop_color }} #}
{# color filter_show_results_button_color = "#ffffff" #}
{# color range_filter_slider_border_color = "#ffffff" #}
{# color range_filter_slider_background_color = "#232324" #}
{# color range_filter_slider_draggable_background_color = "#000000" #}
{# color range_filter_slider_text_color = "#000000" #}
{# color filters_back_button_background_color = "#ffffff" #}
{# color reset_filters_button_background_color = "#ffffff" #}
{# text reset_filters_button_border_px = "0" #}
{# text reset_filters_button_border_radius_px = "8" #}

/*
* ===================
* Overlay General
* ===================
*/

:root {
	--animate-duration: 0.4s;
	--animate-delay: 1s;
	--animate-repeat: 1;
}

.hr-hidden {
	display: none !important;
}

.hr-overlay-search > * {
	margin: 0;
	padding: 0;
}

.hr-overlay-search {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-family: inherit;
	background-color: {{ background_color_rgba }};
	background-image: url("{{ background_image }}");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 2147483642;
}

.hr-backdrop-blur {
	filter: blur(8px);
	-webkit-filter: blur(8px);
	-ms-filter: blur(8px);
}

.hr-overlay-search input[type="checkbox"], .hr-overlay-search-filters input[type="checkbox"], .hr-overlay-search-filter-values input[type="checkbox"]{
	position: relative;
	display: inline-block;
	margin: 0;
	margin-right: 10px;
	width: 1.5rem;
	min-width: 1.5rem;
	height: 1.5rem;
	background: #fff;
	border-radius: 0;
	border-style: solid;
	border-width: 0.1rem;
	border-color: #dcd7ca;
	box-shadow: none;
	cursor: pointer;
	-webkit-appearance: checkbox;
	appearance: checkbox;
}

.hr-loading-indicator {
	background-color: #474747;
	z-index: 2147483644;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 3px;
	margin: 0;
	padding: 0;
}

.hr-loading-indicator-alt {
	background-color: white;
	z-index: 2147483645;
	position: fixed;
	top: 0;
	height: 3px;
	left: 0;
	right: 0;
	animation-name: loading;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.hr-visually-hidden:not(:focus):not(:active) {
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/*
* ===================
* Header + Navigation
* ===================
*/

.hr-overlay-search .hr-header {
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
	align-items: center;
	height: 90px;
}

.hr-overlay-search .hr-hidden-header {
	height: 20px;
	visibility: hidden;
}

.hr-overlay-search .hr-logo {
	display: flex;
	color: #4d4f5c;
	font-size: 32px;
	line-height: 1.5;
	letter-spacing: -0.0415625em;
	margin: auto;
}

.hr-overlay-search .hr-header .hr-logo img {
	width: 100%;
	max-width: {{ webshop_logo_width }}px;
	min-height: 20px;
}

.hr-overlay-search .hr-nav,
.hr-overlay-search-filters .hr-nav {
	margin: 0px 15px 0px 15px;
	display: flex;
	flex-direction: row-reverse;
	flex-grow: 0;
	flex-shrink: 0;
}

.hr-overlay-search .hr-nav button, .hr-filter-nav button, .hr-island-container button {
	position: relative;
	display: flex;
	height: 38px;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	padding: 0;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 0.0333em;
	line-height: 1.25;
	color: #232324;
	background-color: transparent;
	text-decoration: none;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border: none;
	border-radius: 8px;
	webkit-appearance: none;
	appearance: none;
	transition: opacity 0.15s linear;
	outline: none;
	cursor: pointer;
}

.hr-overlay-search .hr-nav > button svg, .hr-filter-nav button svg, .hr-island-container button svg {
	width: 25px;
	height: 25px;
}

.hr-overlay-search .hr-nav button.hr-filters:disabled {
	opacity: 0.5;
	cursor: default;
}

.hr-overlay-search .hr-filters .hr-selected-filter-count {
	position: absolute;
	top: -10px;
	right: -7px;
	font-size: 12px;
	color: {{ notification_bubble_color }};
	background-color: {{ notification_bubble_background_color }};
	padding: 5px;
	border-radius: 50%;
	min-width: 25px;
	box-shadow: 0px 2px 8px rgba(0,0,0,.2);
}

.hr-overlay-search .hr-search {
	position: relative;
	display: flex;
	flex: 0 1 100%;
	height: 38px;
	background-color: {{ search_bar_background_color }};
	border: 1px solid {{ search_bar_background_color }};
	border-radius: {{ search_bar_border_radius_px }}px;
	z-index: 1;
}

.hr-overlay-search .hr-search input {
	margin: 0;
	padding: 0 40px 0 40px;
	display: block;
	height: 38px;
	font-size: {{ search_bar_font_size }};
	font-weight: {{ search_bar_font_weight }};
	line-height: 20px;
	color: {{ search_bar_input_color }};
	text-align: {{ search_input_alignment }};
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	max-width: 100%;
	background-color: transparent;
	border: {{ search_bar_border_px }}px;
	border-radius: {{ search_bar_border_radius_px }}px;
	box-shadow: none;
	transition: all 0.2s linear;
	-webkit-appearance: none;
	appearance: none;
	outline: none;
}

.hr-overlay-search .hr-search input[placeholder], .hr-overlay-search .hr-search input::placeholder, .hr-overlay-search .hr-search input::-webkit-input-placeholder,
.hr-overlay-search .hr-search input::-moz-placeholder, .hr-overlay-search .hr-search input:-ms-input-placeholder,
.hr-overlay-search .hr-search input:-moz-placeholder {
	color: #98a4ae;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.hr-overlay-search .hr-search input:focus::placeholder {
	color: transparent;
}

.hr-overlay-search .hr-search > .hr-btn-search {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 38px;
	height: 38px;
	background: none;
	border: none;
	color: #232324;
	transition: color 0.2s linear;
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
	z-index: 2;
}

.hr-overlay-search .hr-search > .hr-btn-search svg {
	width: 20px;
	height: 20px;
}

.hr-redirects {
	margin: 0 0 5px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 0;
	flex-shrink: 0;
	max-width: 100%;
}

.hr-overlay-search .hr-redirects-container {
	padding: 15px 15px 10px 15px;
	font-size: 14px;
	font-weight: 600;
	color: {{ redirect_text_color }};
	animation-duration: var(--animate-duration);
	animation-fill-mode: both;
	animation-name: slideInDown;
	transition: all 0.3s ease-in-out;
}

.hr-overlay-search .hr-redirects-container .hr-redirect-link {
	padding: 4px 12px;
	color: {{ redirect_link_color }};
	text-decoration: none;
	background: {{ redirect_label_color }};
	border-radius: 8px;
	text-shadow: none;
	cursor: pointer;
}


.hr-overlay-search a:focus-visible,
.hr-overlay-search .hr-search-overlay-content-link:focus-visible,
.hr-overlay-search button:focus-visible,
.hr-overlay-search .hr-filters input[type="checkbox"]:focus-visible,
.hr-overlay-search-filters button:focus-visible,
.hr-overlay-search-filter-values button:focus-visible,
.hr-search-overlay-filter:focus-visible,
.hr-search-overlay-filter-content input[type="checkbox"]:focus-visible,
.hr-tab-body:focus-visible {
	outline: 2px solid #007bff !important;
	outline-offset: 2px;
}
.hr-overlay-search a:focus,
.hr-overlay-search .hr-search-overlay-content-link:focus,
.hr-overlay-search button:focus,
.hr-overlay-search .hr-filters input[type="checkbox"]:focus,
.hr-overlay-search-filters button:focus,
.hr-overlay-search-filter-values button:focus,
.hr-search-overlay-filter:focus,
.hr-search-overlay-filter-content input[type="checkbox"]:focus,
.hr-tab-body:focus {
	outline: none;
}

.hr-overlay-search .skip-content {
	position: absolute;
	top: -100px;
	left: 0px;
	width: 100%;
	background: #000;
	color: #fff;
	padding: 10px;
	text-decoration: none;
	z-index: 1000;
	display: block !important;
}

.hr-overlay-search .hr-tab-body[style*="display: none"] .skip-content {
	display: none !important;
}

.hr-overlay-search .skip-content:focus {
	top: 0px;
}

/*
* ===================
* Recent searches
* ===================
*/

.hr-overlay-search .hr-recent-search {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.hr-overlay-search .hr-recent-search-wrapper {
	margin: 5px 10px;
}

.hr-overlay-search .hr-recent-search-container {
	display: flex;
	flex-direction: row;
	gap: 12px;
	padding: 5px 0;
}

.hr-overlay-search  .hr-recent-search-container .hr-recent-search-item {
	all: unset;
	font-size: 15px;
	padding: 0 0;
	margin: 0;
	text-decoration: underline;
	text-align: left;
	color: #585858;
	margin-right: auto;
	width: 100%;
	cursor: pointer;
}

.hr-overlay-search  .hr-recent-search-container .hr-remove {
	all: unset;
}

.hr-overlay-search  .hr-recent-search-container .hr-recent-search-item:focus,
.hr-overlay-search  .hr-recent-search-container .hr-remove:focus {
	outline: 2px solid #5b9dd9;
}


.hr-recent-search-container .hr-icon-clock {
	width: 12px;
	height: 12px;
}

.hr-recent-search-container .hr-icon-small-cross {
	width: 17px;
	height: 17px;
}

.hr-recent-search-container .hr-icon-small-cross:hover {
	transition: all .2s;
	transform: rotate(90deg);
}

.hr-overlay-search .hr-nav .grow {
	flex-grow: 1;
}

/* Box Shadows */
.hr-overlay-search .hr-nav.hr-shadows .hr-search, .hr-overlay-search .hr-nav.hr-shadows .hr-close, .hr-overlay-search .hr-nav.hr-shadows .hr-filters {
	box-shadow: 0px 2px 8px rgba(0,0,0,.2);
}

/*
* ===================
* Island nav
* ===================
*/

.hr-overlay-search .hr-island-nav {
	position: fixed;
	bottom: 25px;
	z-index: 10;
	display: flex;
	justify-content: center;
	width: 100%;
}


.hr-overlay-search .hr-island-container {
	display: flex;
	justify-content: space-between;
	margin: 0 35%;
	border-radius: 99px;
	background: #FFFFFF;
	padding: 4px;
	box-shadow: 0px 2px 8px rgba(0,0,0,.2);
	transition: all 1s;
}

.hr-overlay-search .hr-island-container button {
	border-radius: 99px;
	padding: 10px;
	background-color: {{ secondary_shop_color }};
	height: 100%;
	margin: 0;
}

.hr-overlay-search .hr-island-container button.hr-filters {
	margin-right: 20px;
}

/*
* ===================
* Tabs + Content
* ===================
*/

/* Tabs */
.hr-overlay-search .hr-tabs {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: flex-start;
	overflow: hidden;
	margin: 0 0;
}

.hr-overlay-search .hr-tabs .hr-tab-nav {
	margin: 10px 0 0;
	flex-shrink: 0;
}

.hr-overlay-search .hr-tab-nav .hr-tab-header,
.hr-overlay-search .hr-tab-nav button.hr-tab-header {
	margin: .25rem;
	color: {{ tab_title_color }};
	font-size: 16px;
	font-weight: 600;
	background-color: {{ tab_inactive_background_color }};
	border-radius: {{tab_header_border_radius_px}}px {{tab_header_border_radius_px}}px 0 0;
	cursor: pointer;
	margin-right: 5px;
	padding: 0 10px;
}

.hr-overlay-search .hr-content-header-container .hr-tab-header:not(.active) {
	border: {{ tab_header_border_px }}px;
	border-radius: {{tab_header_border_radius_px}}px {{tab_header_border_radius_px}}px 0 0;
	color: #acacac;
}

.hr-overlay-search .hr-tab-header.active {
	border: {{ tab_header_active_border_px }}px;
	border-radius: {{tab_header_active_border_radius_px}}px {{tab_header_active_border_radius_px}}px 0 0;
	z-index: 5;
}

.hr-overlay-search .hr-tab-nav .hr-content-header-container {
	display: flex;
}

.hr-overlay-search .hr-tab-subtitle {
	margin: 0;
	font-size: 18px;
	font-weight: 600;
	color: {{ tab_subtitle_color }};
}
.hr-overlay-search .hr-tab-subtitle > .hr-highlight {
	color: {{ tab_subtitle_highlight_color }};
}

.hr-overlay-search .hr-tabs .hr-tab-content {
	display: flex;
	flex-direction: column;
	background-color: {{ tab_active_background_color }};
	overflow: auto;
	height: auto;
	z-index: 2;
}

.hr-overlay-search .hr-tab-body,
.hr-overlay-search .hr-tab-header.active {
	color: {{ active_tab_title_color }} !important;
	background-color: {{ tab_active_background_color }};
	text-decoration: none;
	overflow: auto;
}

.hr-overlay-search > .hr-tabs > .hr-tab-content .hr-tab-body {
	padding: 5px;
	flex-grow: 1;
	min-height: 50px;
}

.hr-overlay-search > .hr-tabs > .hr-tab-content[data-content-type="horizontal"] .hr-tab-body {
	padding: 5px 0px;
	-ms-overflow-style: none;  /* Hide scrollbar in Internet Explorer and Edge */
	scrollbar-width: none;  /* Hide scrollbar in Firefox */
}

.hr-overlay-search > .hr-tabs > .hr-tab-content[data-content-type="horizontal"] .hr-tab-body .hr-tab-wrapper {
	margin: auto;
}

.hr-overlay-search > .hr-tabs > .hr-tab-content .hr-tab-header {
	padding: 0 10px 15px;
	font-size: 14px;
	flex: 0 0 100%;
}

/* Categories + Content */
.hr-overlay-search .hr-tab-content[data-content-type="vertical"] .hr-search-overlay-content {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 12px;
	text-decoration: none;
	cursor: pointer;
	z-index: 1;
}

.hr-overlay-search .hr-search-overlay-content-link {
	text-decoration: none;
}

.hr-overlay-search .hr-tab-content[data-content-type="vertical"] .hr-search-overlay-content .hr-search-overlay-content-link {
	padding: 14px 44px 14px 14px;
	font-size: 16px;
	font-weight: 500;
	color: #363636;
	text-decoration: none;
	text-align: left;
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	box-sizing: border-box;
}

.hr-overlay-search .hr-tab-content[data-content-type="vertical"] .hr-search-overlay-content .hr-search-overlay-content-link a {
	color: inherit;
}

.hr-overlay-search .hr-tab-content[data-content-type="vertical"] .hr-search-overlay-content svg {
	position: absolute;
	top: 50%;
	right: 14px;
	width: 18px;
	height: 18px;
	transform: translateY(-50%);
}

.hr-overlay-search .hr-content-container {
	display: flex;
	justify-content: space-evenly;
	overflow-y: scroll;
	margin-bottom: 5px;
	-ms-overflow-style: none;  /* Hide scrollbar in Internet Explorer and Edge */
	scrollbar-width: none;  /* Hide scrollbar in Firefox */
}

.hr-overlay-search .hr-tab-content[data-content-type="horizontal"] .hr-content-container {
	margin: unset;
}

/* Hide scrollbar for WebKit-based browsers (Chrome, Safari, etc.) */
.hr-overlay-search .hr-tab-nav .hr-content-container::-webkit-scrollbar {
	display: none;
}

.hr-overlay-search .hr-tab-content[data-content-type="horizontal"] .hr-search-overlay-content {
	padding: 0.4rem 0.6rem;
	margin: 0 4px;
	background-color: {{ secondary_shop_color }};
	border-radius: 99px;
	height: fit-content;
}

.hr-overlay-search .hr-tab-content[data-content-type="horizontal"] .hr-search-overlay-content-link {
	color: {{ primary_text_color }};
	white-space: nowrap;
}

.hr-overlay-search .hr-search-hierarchy-wrapper {
	display: none;	
}

{% if show_category_content_hierarchy %}
.hr-overlay-search .hr-search-hierarchy-wrapper_horizontal {
	display: inline-flex;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: {{ content_hierarchy_text_color }};
	font-size: .85em;	
}

.hr-overlay-search .hr-search-hierarchy-wrapper {
    display: block;
    font-size: 13px;
    color: {{ content_hierarchy_text_color }};
    overflow: hidden;   
    text-overflow: ellipsis;
}

.hr-overlay-search .hr-search-hierarchy-wrapper .hr-search-content-hierarchy-divider:last-child {
	display: none;	
}
{% endif %}

/* Products */
.products-displayed {
	padding: 20px;
	font-size: 14px;
	text-align: center;
}

.hr-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
}

.hr-search-overlay-grid-container .hr-row {
	flex-direction: column;
}

.hr-col-price {
	display: flex;
	flex-direction: column;
	flex-basis: auto;
}

.hr-col-img {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
}

.hr-search-overlay-product-badge {
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 1;
	background-color: #000000;
	color: #FFFFFF;
	border-radius: 2px;
	font-size: 12px;
	padding: 0px 8px;
}

.hr-col-info {
	display: flex;
	flex-direction: column;
	flex: 2;
	align-self: center;
	overflow: hidden;
	padding: 0 10px;
}

.hr-search-overlay-grid-container .hr-col-info {
	align-self: start;
	flex: revert;
}

.hr-overlay-search .hr-search-overlay-product {
	padding: 5px;
	position: relative;
	background-color: {{ product_tile_background_color }};
	border-radius: 12px;
	box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
}

.hr-products-container {
	display: grid;
	gap: 8px;
}

.hr-search-overlay-grid-container .hr-products-container {
	grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 768px) {
	.hr-search-overlay-grid-container .hr-products-container {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 355px) {
	.hr-search-overlay-grid-container .hr-products-container {
		grid-template-columns: auto;
	}
}

.hr-overlay-search .hr-search-overlay-grid-container .hr-search-overlay-product {
	position: relative;
	box-sizing: border-box;
}

.hr-overlay-search .hr-search-overlay-product > .hr-search-overlay-product-link {
	color: #363636;
	text-decoration: none;
}

.hr-overlay-search .hr-search-overlay-product-thumbnail {
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.hr-overlay-search .hr-search-overlay-product-image {
	border-radius: {{ product_image_border_radius_px }};
	max-width: 100%;
	max-height: {{ product_image_max_height_px }};
}

.hr-overlay-search .hr-search-overlay-grid-container .hr-search-overlay-product-image {
	/* max-height: none; */
	max-height: 300px;
}

.hr-overlay-search .hr-search-overlay-product-info {
	text-align: left;
}

.hr-overlay-search .hr-search-overlay-product-info .hr-search-overlay-product-title {
	font-size: {{ product_tile_title_font_size }};
	font-weight: {{ product_tile_title_font_weight }};
	color: {{ product_tile_title_color }} !important;
	line-height: 1.25;
	letter-spacing: -.01em;
	color: #363636;
	margin-bottom: .2rem;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.hr-overlay-search .hr-search-overlay-product-info p.hr-search-overlay-product-extra {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-weight: {{ product_extra_font_weight }};
	color: {{ product_extra_color }};
	font-size: {{ product_extra_font_size }}px;
	margin: 0;
}

.hr-overlay-search .hr-search-overlay-product-info .hr-search-overlay-product-title a {
	color: inherit;
}

.hr-overlay-search .hr-search-overlay-product-price-box {
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.hr-overlay-search .hr-search-overlay-product-price-box .hr-search-overlay-product-price-old {
	margin: 0 0 0 5px;
	font-size: 12px;
	color: #aab0bb;
	text-decoration: line-through;
}

.hr-overlay-search .hr-search-overlay-product-price-box .hr-search-overlay-product-price-sale, .hr-search-overlay-product-price-normal {
	font-size: {{ product_price_font_size }};
	font-weight: 600;
	color: {{product_price_color}};
}

.hr-overlay-search .hr-search-overlay-product-price-box .hr-search-overlay-product-price-sale {
	color: {{ product_price_on_sale_color }};
}

.hr-overlay-search .hr-search-overlay-product-price-box p {
	margin: 0;
	font-size: 14px;
}

/* Range Slider */
.hr-range-slider,
.aw-range-slider {
	margin: 14px 25px 8px 25px;
	position: relative;
	height: 8px;
	background-color: {{ range_filter_slider_background_color }};
}

.hr-range-slider .hr-range-slider-handle,
.aw-range-slider .aw-range-slider-handle {
	display: block;
	position: absolute;
	top: -12.5px;
	left: -15.5px;
	width: 30px;
	height: 30px;
	background-color: {{ range_filter_slider_draggable_background_color }};
	border: 4px solid {{ range_filter_slider_border_color }};
	border-radius: 50%;
	box-shadow: 0px 2px 8px rgba(0,0,0,.2);
}

.hr-range-slider-text,
.aw-range-slider-text {
	display: flex;
	justify-content: space-around;
	font-weight: 600;
}

.hr-range-slider-text .hr-range-slider-text-from,
.aw-range-slider-text .aw-range-slider-text-from {
	color: {{ range_filter_slider_draggable_background_color }};
	float:left;
	border: none;
}

.aw-range-slider-text .aw-range-slider-text-from:focus {
	outline: none;
}

.hr-range-slider-text .hr-range-slider-text-to,
.aw-range-slider-text .aw-range-slider-text-to {
	color: {{ range_filter_slider_draggable_background_color }};
	float:right;
	border: none;
}

.aw-range-slider-text .aw-range-slider-text-to:focus {
	outline: none;
}

.hr-range-slider-text .hr-range-slider-text-clear-float,
.aw-range-slider-text .aw-range-slider-text-clear-float {
	clear:both;
}

.hr-range-slider-clear,
.aw-range-slider-clear {
	display: none;
}

/*
* ===================
* Filters
* ===================
*/

.hr-overlay-search-filters,
.hr-overlay-search-filter-values {
	color: #232324;
	background-color: {{ tab_active_background_color }};
	z-index: 2147483643;
}

ul.hr-filter-list li.selected > ul,
ul.hr-filter-list ul.has-selected,
ul.aw-filter-list li.selected > ul,
ul.aw-filter-list ul.has-selected {
	display: block;
}

.hr-filter-nav {
	position: sticky;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0 15px;
	display: flex;
	justify-content: start;
	flex-direction: row;
	align-items: center;
	height: 60px;
	color: #232324;
	border-bottom: 1px solid var(--Gray-200, #EBEFF5);
	z-index: 99;
}

.hr-filter-nav button.hr-show-results {
	width: 100%;
	padding: 16px 40px;
	color: {{ primary_text_color }};
	background-color: {{ secondary_shop_color }};
	display: block;
	height: auto;
	flex: inherit;
	border: 99px;
	border-radius: 99px;
}

.hr-filter-nav button.hr-close {
	border: {{back_button_border_px}}px;
	border-radius: {{back_button_border_radius_px}}px;
}

.hr-filter-nav button.hr-reset {
	color: {{ reset_color }};
	text-transform: none;
	margin-left: auto;
	font-size: 18px !important;
}

.hr-overlay-search > .hr-nav > button.hr-filters {
	background-color: transparent;
	color: {{ filter_button_color }};
	border: {{filter_button_border_px}}px;
	border-radius: {{filter_button_border_radius_px}}px;
}

button.hr-filters:disabled .hr-selected-filter-count {
	display: none;
}

.hr-filter-nav > .hr-filter-title {
	margin: 0;
	font-size: 18px;
	font-weight: 600;
	line-height: 26px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.hr-filters .hr-search-overlay-filter, .hr-search-overlay-filter-range {
	padding: 10px 25px;
	cursor: pointer;
}

.hr-search-overlay-filter-content {
	margin: 0;
	padding: 0;
	height: auto;
}

.hr-filters .hr-search-overlay-filter:nth-child(even) {
	background-color: {{ filter_color_even }};
}
.hr-filters .hr-search-overlay-filter:nth-child(odd) {
	background-color: {{ filter_color_odd }};
}

.hr-filters .hr-search-overlay-filter .hr-search-overlay-filter-title {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
	font-size: 16px;
	font-weight: 400;
}

.hr-filters .hr-search-overlay-filter .hr-search-overlay-range-active-row {
	flex-direction: row;
}

.hr-filters .hr-search-overlay-filter[data-filter="sorting"] .hr-search-overlay-toggle-info, .hr-filters .hr-search-overlay-filter[data-filter="price"] .hr-search-overlay-toggle-info {
	padding: 0;
	font-weight: 500;
	font-size: 14px;
	color: {{ primary_text_color }};
	background-color: transparent;
}
.hr-filters .hr-search-overlay-filter .hr-search-overlay-toggle-info-item {
	padding: 4px 0px;
	margin-right: 4px;
	font-size: 14px;
	color: {{ primary_text_color }};
	white-space: nowrap;
	border-radius: 8px;
}

.hr-filters .hr-search-overlay-filter .hr-nav-button {
	all: unset;
}
.hr-filters .hr-search-overlay-filter .hr-nav-button:focus,
.hr-filters .aw-range-slider-handle:focus {
	outline: 2px solid #007bff;
}

.hr-filter-nav-bottom {
	margin: -1px 0;
	position: sticky;
	left: 0;
	bottom: 0;
	justify-content: center;
	width: 100%;
	border: none;
	z-index: 99;
}

.hr-search-overlay-filter-list-item {
	display: flex;
	flex-direction: row;
	padding: 6px 0px;
}

/** Filters - Sorting **/

.hr-filters-container, .hr-search-overlay-filter-wrap {
	height: calc(100dvh - 121px);
	overflow-x: scroll;
	position: relative;
}

.hr-search-overlay-filter[data-ranged="true"] .hr-search-overlay-filter-wrap {
	height: auto;
}

.hr-search-overlay-filter-shallow {
	height: 20px;
}

.hr-sorting-tag-list label,
.aw-sorting-tag-list label {
	margin: 0;
	padding: 18px 24px;
	display: flex;
	align-items: center;
	font-size: 16px;
	font-weight: 400;
	line-height: inherit;
	text-align: inherit;
	border: none;
}

.hr-sorting-tag-list label:nth-child(even),
.aw-sorting-tag-list label:nth-child(even) {
	background-color: {{ tab_active_background_color }};
}

.hr-sorting-tag-list label:nth-child(odd),
.aw-sorting-tag-list label:nth-child(odd) {
	background-color: #fff;
}

/* Filters - Brand & Category */
ul.hr-filter-list,
ul.aw-filter-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.hr-filter-tag-list,
.aw-filter-tag-list {
	position: relative;
}

ul.hr-filter-list ul,
ul.aw-filter-list ul {
	display: none;
}

ul.hr-filter-list li.selected > ul,
ul.hr-filter-list ul.has-selected,
ul.aw-filter-list li.selected > ul,
ul.aw-filter-list ul.has-selected {
	display: block;
	margin: 14px 0 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

ul.hr-filter-list > li.selected > ul,
ul.hr-filter-list ul.has-selected:first-of-type,
ul.aw-filter-list > li.selected > ul,
ul.aw-filter-list ul.has-selected:first-of-type {
	border-bottom: none;
}

/* Filter Nesting */
.hr-filter-tag-list > label,
.hr-search-overlay-filter-wrap ul li, .aw-filter-tag-list > label {
	margin: 0;
	padding: 14px 24px;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	font-weight: 400;
	line-height: inherit;
	text-align: inherit;
	border: none;
}

.hr-search-overlay-filter-wrap > ul.hr-filter-list > li, .hr-filter-tag-list > label,
.hr-search-overlay-filter-wrap > ul.aw-filter-list > li, .aw-filter-tag-list > label {
	padding: 18px 24px;
}

.hr-filter-tag-list > label,
.aw-filter-tag-list > label {
	flex-direction: row;
	align-items: center;
}

ul.hr-filter-list li label,
ul.aw-filter-list li label {
	display: flex;
	align-items: center;
}

.hr-filter-list label .hr-filter-tag-count, .hr-filter-tag-list > label .hr-filter-tag-count,
.aw-filter-list label .aw-filter-tag-count, .aw-filter-tag-list > label .aw-filter-tag-count {
	position: absolute;
	right: 25px;
	font-size: 12px;
}

.hr-search-overlay-filter-wrap > ul.hr-filter-list > li:nth-child(even), .hr-filter-tag-list > label:nth-child(even),
.hr-search-overlay-filter-wrap > ul.aw-filter-list > li:nth-child(even), .aw-filter-tag-list > label:nth-child(even) {
	background-color: {{ tab_active_background_color }};
}

.hr-search-overlay-filter-wrap > ul.hr-filter-list > li:nth-child(odd), .hr-filter-tag-list > label:nth-child(odd),
.hr-search-overlay-filter-wrap > ul.aw-filter-list > li:nth-child(odd), .aw-filter-tag-list > label:nth-child(odd) {
	background-color: #fff;
}

.hr-search-overlay-filter-wrap input[type=checkbox]:checked::after {
	content: unset;
}

/*
* ===================
* Icons / SVGs
* ===================
*/

.hr-icon-container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	cursor: pointer;
}

.hr-icon {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	background-size: contain;
	background-repeat: no-repeat;
}

.hr-icon-arrow {
	width: 15px;
	height: 15px;
	margin-right: 12px;
	background-image: url('data:image/svg+xml,%3Csvg xmlns%3D%22http%3A//www.w3.org/2000/svg%22 xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22 fill%3D%22%23000000%22 height%3D%2215px%22 width%3D%2215px%22 version%3D%221.1%22 id%3D%22Layer_1%22 viewBox%3D%220 0 330 330%22 xml%3Aspace%3D%22preserve%22%3E%3Cpath id%3D%22XMLID_222_%22 d%3D%22M250.606%2C154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213%2C0.001c-5.857%2C5.858-5.857%2C15.355%2C0.001%2C21.213l139.393%2C139.39L79.393%2C304.394c-5.857%2C5.858-5.857%2C15.355%2C0.001%2C21.213C82.322%2C328.536%2C86.161%2C330%2C90%2C330s7.678-1.464%2C10.607-4.394l149.999-150.004c2.814-2.813%2C4.394-6.628%2C4.394-10.606C255%2C161.018%2C253.42%2C157.202%2C250.606%2C154.389z%22/%3E%3C/svg%3E');
}

.hr-search-overlay-filter .hr-icon-arrow {
	margin-right: unset;
}

.hr-icon-cross {
	width: 25px;
	height: 25px;
	background-image: url('data:image/svg+xml,%3Csvg xmlns%3D%22http%3A//www.w3.org/2000/svg%22 viewBox%3D%220 0 50 50%22 fill%3D%22%23000000%22%3E%3Cpath fill%3D%22%23000000%22 stroke%3D%22%23000000%22 stroke-width%3D%221%22 stroke-linecap%3D%22round%22 stroke-linejoin%3D%22round%22 d%3D%22M7.71875%206.28125%20L6.28125%207.71875%20L23.5625%2025%20L6.28125%2042.28125%20L7.71875%2043.71875%20L25%2026.4375%20L42.28125%2043.71875%20L43.71875%2042.28125%20L26.4375%2025%20L43.71875%207.71875%20L42.28125%206.28125%20L25%2023.5625%20Z%22/%3E%3C/svg%3E');
}

.hr-icon-small-cross {
	width: 25px;
	height: 25px;
	background-image: url('data:image/svg+xml,%3Csvg xmlns%3D%22http%3A//www.w3.org/2000/svg%22 width%3D%2216%22 height%3D%2216%22 fill%3D%22currentColor%22 class%3D%22bi bi-x%22 viewBox%3D%220 0 16 16%22%3E%3Cpath d%3D%22M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708%22/%3E%3C/svg%3E');
	
}

.hr-icon-clock {
	width: 25px;
	height: 25px;
	background-image: url('data:image/svg+xml,%3Csvg xmlns%3D%22http%3A//www.w3.org/2000/svg%22 width%3D%2216%22 height%3D%2216%22 fill%3D%22currentColor%22 class%3D%22bi bi-clock%22 viewBox%3D%220 0 16 16%22%3E%3Cpath d%3D%22M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z%22/%3E%3Cpath d%3D%22M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0%22/%3E%3C/svg%3E');
}

/*
* ===================
* RM BANNERS
* ===================
*/

.hr-overlay-search .hr-b-container {
	display: inline-block;
	width: 100%;
	height: 100%;
	background-color: transparent;
}

.hr-overlay-search .hr-b-image {
	width: 100%;
	height: 100%;
	background: center / cover no-repeat;
	border-radius: 5px !important;
}

.hr-overlay-search .hr-b-image.grid {
	height: 250px;
}

.hr-overlay-search .hr-b-image.list {
	height: 100px;
}

/*
* ===================
* Animations
* ===================
*/

/* Animations - Fade */
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	
	to {
		opacity: 1;
	}
}

.hr-fadeIn {
	animation-name: fadeIn;
	animation-duration: var(--animate-duration);
	animation-fill-mode: both;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	
	to {
		opacity: 0;
	}
}

.hr-fadeOut {
	animation-name: fadeOut;
	animation-duration: var(--animate-duration);
	animation-fill-mode: both;
}

/* Animations - Sliding */
@keyframes slideInDown {
	from {
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	}
	
	to {
		transform: translate3d(0, 0, 0);
	}
}

.hr-slideInDown {
	animation-name: slideInDown;
	animation-duration: var(--animate-duration);
	animation-fill-mode: both;
}

@keyframes slideInUp {
	from {
		transform: translate3d(0, 100%, 0);
		visibility: visible;
	}
	
	to {
		transform: translate3d(0, 0, 0);
	}
}

.hr-slideInUp {
	animation-name: slideInUp;
	animation-duration: var(--animate-duration);
	animation-fill-mode: both;
}

@keyframes slideInRight {
	from {
		transform: translate3d(100%, 0, 0);
		visibility: visible;
	}
	
	to {
		transform: translate3d(0, 0, 0);
	}
}

.hr-slideInRight {
	animation-name: slideInRight;
	animation-duration: var(--animate-duration);
	animation-fill-mode: both;
}

@keyframes slideOutRight {
	from {
		transform: translate3d(0, 0, 0);
	}
	
	to {
		visibility: hidden;
		transform: translate3d(100%, 0, 0);
	}
}

.hr-slideOutRight {
	animation-name: slideOutRight;
	animation-duration: var(--animate-duration);
	animation-fill-mode: both;
}

@keyframes loading {
	0% {
		left: 0;
		right: 100%;
	}
	50% {
		left: 0;
		right: 0;
	}
	100% {
		left: 100%;
		right: 0;
	}
}
